In [3]:
import pandas

In [4]:
pandas.__version__

'1.3.5'

In [7]:
4%2

name_of_var = 2

print("Mon nom est {} et mon prenom est {}".format("Tano","Dylane"))

Mon nom est Tano et mon prenom estDylane

In [19]:
(1 == 2) or ("a" == "a")

if 1==0:
  print("Yep")
elif 2==2:
  print("Yeah!")
else:
  print("Nope!")

Yeah!

In [20]:
seq = [1, 2, 3, 4, 5, 6]

In [21]:
for item in seq:
  print(item)

1
2
3
4
5
6

In [22]:
i = 1
while i < 5:
  print("i vaut {}".format(i))
  i+=1

i vaut 1
i vaut 2
i vaut 3
i vaut 4

In [24]:
x = [1, 2, 3, 4]
list(range(5))

[0, 1, 2, 3, 4]

In [26]:
for x in range(5):
  print("hello")

hello
hello
hello
hello
hello

In [27]:
[num**2 for num in x]

TypeError: 'int' object is not iterable

In [28]:
x = [1, 2, 3, 4, 5]
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [5]:
def my__func(name="NO NAME"):
  print("Hello "+ name)

my__func()

Hello NO NAME

In [7]:
seq = [1, 2, 3, 4, 5, 6]
list(map(lambda num:num*2, seq))

[2, 4, 6, 8, 10, 12]

In [8]:
list(filter(lambda num:num%2==0,seq))

[2, 4, 6]

In [10]:
str = "Hello mon prenom est #Bob"
str.lower()
str.upper()
str.split()
str.split("#") #seeration sur le #

['Hello mon prenom est ', 'Bob']

In [12]:
d = {"K1":"V1", "K2":"V2"}
d.keys()
d.items()

dict_items([('K1', 'V1'), ('K2', 'V2')])

In [17]:
lst = [1, 2, 3]
first = lst.pop(0)
lst
1 in lst

False

In [14]:
1 in lst

False